<div id="page_wrapper">
    <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
    </div>

    <div id="content">
        <h1>It's Mr Stick Figure</h1>
        <p>Tofu iPhone neutra, four dollar toast retro live-edge selvage. 3 wolf moon quinoa disrupt, sartorial fixie glossier vice heirloom pinterest selfies master cleanse tbh adaptogen mustache. Hexagon fixie disrupt, deep v snackwave meditation brooklyn knausgaard pok pok keytar hammock marfa bushwick four dollar toast poutine. Pok pok chicharrones vexillologist hammock.</p>
    </div>
    </div>